@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>RacketManagement</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Welcome to RacketManagement</h2>
        <p>
            RacketManagement is a system for rezerving rackets.
        </p>
    </div>
</div>