@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron">
    <h1>RacketManagement</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Sistem za rezervacijo loparjev</h2>
    </div>
</div>