@model RacketManagement.Models.Racket

@{
    ViewData["Title"] = "Create";
}

<h1>Racket</h1>

<hr />

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <table class="table">
        <tbody>
            <tr>
                <td class="col-md-2">
                    <div class="form-group">
                        <select asp-for="BrandID" class ="form-control" asp-items="ViewBag.BrandName"></select>
                    </div>
                </td>
                <td class="col-md-8"></td>
                <td class="col-md-2">
                    <button type="button" class="btn btn-secondary">
                        <a class="text-light" style="text-decoration: none"  asp-controller="Brand" asp-action="Create">New Brand</a>
                    </button>
                </td>
            </tr>
            <tr>
                <td class="col-md-2">
                    <div class="form-group">
                        <select asp-for="ModelID" class ="form-control" asp-items="ViewBag.ModelName"></select>
                    </div>
                </td>
                <td class="col-md-8"></td>
                <td class="col-md-2">
                    <button type="button" class="btn btn-secondary">
                        <a class="text-light" style="text-decoration: none"  asp-controller="Model" asp-action="Create">New Model</a>
                    </button>
                </td>
            </tr>
            <tr>
                <td class="col-md-2">
                    <div class="form-group">
                        <select asp-for="GripSizeID" class ="form-control" asp-items="ViewBag.Gripsize"></select>
                    </div>
                </td>
                <td class="col-md-8"></td>
                <td class="col-md-2">
                    <button type="button" class="btn btn-secondary">
                        <a class="text-light" style="text-decoration: none"  asp-controller="GripSize" asp-action="Create">New Gripsize</a>
                    </button>
                </td>
            </tr>                
        </tbody>
    </table>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>