@model RacketManagement.Models.Loan

@{
    ViewData["Title"] = "Create";
}

<h1>Loan</h1>

<p>Racket is lent out for 14 days.</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="padding-bottom: 7px">
                <label asp-for="RacketID" class="control-label">Racket</label>
                <select asp-for="RacketID" class ="form-control" asp-items="ViewBag.RacketName"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Rezerviraj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
